[user]
  name = Florian Mounier
  email = florian.mounier@kozea.fr

[color]
    branch = auto
    diff = auto
    status = auto
    ui = true
    interactive = auto

[color "branch"]
  current = yellow reverse
  local = yellow
  remote = green

[color "diff"]
  meta = yellow bold
  frag = magenta bold
  old = red bold
  new = green bold

[color "status"]
  added = yellow
  changed = green
  untracked = cyan

[advice]
    statusHints = false
[merge]
    stat = true
[alias]
     meld = !/opt/zero/git-meld/git-meld.pl
     view = ! /usr/share/git/gitview/gitview --all &
[core]
    excludesfile = /home/zero/.gitignore
[github]
	user = paradoxxxzero
