
Xcursor.theme: Ecliz-Arch
!URxvt*buffered:    true
URxvt*termName:    rxvt
URxvt*scrollBar:   false
URxvt*urlLauncher: chromium-browser
URxvt*font:        xft:ubuntu mono:pixelsize=14:antialias=true:embolden=false
URxvt*boldFont:    xft:ubuntu mono:bold:pixelsize=14:antialias=true:embolden=true

URxvt*background:  #000000
URxvt*foreground:  #a4a4a4
URxvt*title: 	   urxvt
URxvt*transparent: true
URxvt*shading:	   40


Emacs*fontBackend: xft
Emacs*font:        ubuntu mono
! Emacs*background:  #262524
Emacs*background:  #000000
Emacs*foreground:  #C6B3FF

urxvt*loginShell:         true
urxvt*secondaryScroll:    true
urxvt*saveLines:          65535
urxvt*cursorBlink:        false
urxvt*urgentOnBell:       true
urxvt*visualBell:         false

! COLOURS
! Black
URxvt*color0:    #262524
URxvt*color8:    #292827
! Red
URxvt*color1:    #bf4646
URxvt*color9:    #f48a8a
! Green
URxvt*color2:    #67b25f
URxvt*color10:   #a5d79f
! Yellow
URxvt*color3:    #cfc44e
URxvt*color11:   #e1da84
! Blue
URxvt*color4:    #516083
URxvt*color12:   #a2bbff
! Magenta
URxvt*color5:    #ca6eff
URxvt*color13:   #e2b0ff
! Cyan
URxvt*color6:    #92b2f8
URxvt*color14:   #bacdf8
! White
URxvt*color7:    #d5d5d5
URxvt*color15:   #d5d5d5

Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.dpi: 96
Xft.rgba: rgb
